{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

<section class="section section_bg-color_f section_inner-v-centered">
    <div class="section__bg-wrap">
        <div class="section__bg"
             style="background-image: url('{{ theme_path }}/dist/images/tmp/section-bg-img-8.jpg')"></div>
    </div>

    <div class="section__sNav">
      <div class="bContainer">
        {{ socials }}
      </div>
    </div>

    <div class="section__v-inner section__v-inner_d">
        <div class="bContainer">

            <div class="pageIn__ico not-selectable" aria-hidden="true" >
                <img src="{{ theme_path }}/dist/images/titleIco/title-ico-13.png"
                     srcset="{{ theme_path }}/dist/images/titleIco/title-ico-13-2x.png 2x"
                     alt="">
            </div>

            <div class="bTitle bTitle_wSub_a bTitle_gap_a">
                {{ title_prefix }}
                <h1>{{ 'Audio'|t }}</h1>
                {{ title_suffix }}
            </div>

        </div>
    </div>

</section>
{% if header %}
    <header>
        {{ header }}
    </header>
{% endif %}

    {{ exposed }}
    {{ attachment_before }}
<section class="section section_ind_c section_bg-color_c">

    <div class="bContainer">
        <div class="bPostList__sortBy">
            {{ 'Showing: '|t ~ showing }}
        </div>

        <div class="pageIn__pCols">
            <aside class="bSidebar pageIn__bSidebar">
                {{ sidebar }}
            </aside>
            <div class="pageIn__main">

                {% if rows -%}
                    <div class="bPostList">
                        {{ rows }}
                    </div>
                {% elseif empty -%}
                    {{ empty }}
                {% endif %}
                <div class="bPostList__pager">
                    {#<div class="bPostList__pagerTitle">#}
                    {#Page:#}
                    {#</div>#}
                    {{ pager }}
                </div>
            </div>
        </div>
        {{ attachment_after }}
        {{ more }}

        {% if footer %}
            <footer>
                {{ footer }}
            </footer>
        {% endif %}

        {{ feed_icons }}
    </div>
</section>
