{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

  <a href="{{ content.field_link_to_committee_page[0]['#url']|render }}" class="bTiles__item">
    <div{{ attributes }}>
      {{ title_prefix }}
    {% if content.field_icon_blue|render|trim is not empty and content.field_icon_blue_2x|render|trim is not empty%}
      <span class="bTiles__ico">
        <img alt="" src="{{ content.field_icon_blue }}"
           srcset="{{ content.field_icon_blue_2x }} 2x"
           alt="">
      </span>
    {% endif %}
    <span class="bTiles__title">
      {{ name }}
    </span>
    <span class="bTiles__btnWrap">
      <span class="btn btn_a">
        {{ "view now"|t }}
      </span>
    </span>
      {{ title_suffix }}
    </div>
  </a>

