{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section class="section section_bg-color_f section_inner-v-centered">

    <div class="section__sNav">
      <div class="bContainer">
        {{ breadcrumbs }}
        {{ socials }}
      </div>
    </div>

    <div class="section__v-inner section__v-inner_c">
      <div class="bContainer">
        <div class="pageIn__ico" aria-hidden="true" >
          <img alt="" src="{{ path_to_theme }}/dist/images/titleIco/title-ico-45.png"
               srcset="{{ path_to_theme }}/dist/images/titleIco/title-ico-45-2x.png 2x"
               alt="">
        </div>

        <div class="bTitle bTitle_wSub_a bTitle_gap_a">
          {{ title_prefix }}
          <h1>{{ "Legislative Terms"|t }}</h1>
          {{ title_suffix }}
        </div>

      </div>
    </div>
  </section>

  <section class="section section_ind_c section_bg-color_c">
    <div class="bContainer">
      <div class="bTitle bTitle_gap_f">
        <div class="bTitle__sub bTitle__sub_c bTitle__sub_s_b">
          {{ top_text }}
        </div>
      </div>

      <div class="bTerms">
        <div class="bTerms__fil">
          <div class="bTerms__filTitle">
            {{ "jump to letter"|t }}
          </div>
          <div class="bTerms__filLetters">
            <a href="#letter-a">A</button>
            <a href="#letter-b">B</button>
            <a href="#letter-c">C</button>
            <a href="#letter-d">D</button>
            <a href="#letter-e">E</button>
            <a href="#letter-f">F</button>
            <a href="#letter-g">G</button>
            <a href="#letter-h">H</button>
            <a href="#letter-i">I</button>
            <a href="#letter-j">J</button>
            <a href="#letter-k">K</button>
            <a href="#letter-l">L</button>
            <a href="#letter-m">M</button>
            <a href="#letter-n">N</button>
            <a href="#letter-o">O</button>
            <a href="#letter-p">P</button>
            <a href="#letter-q">Q</button>
            <a href="#letter-r">R</button>
            <a href="#letter-s">S</button>
            <a href="#letter-t">T</button>
            <a href="#letter-u">U</button>
            <a href="#letter-v">V</button>
            <a href="#letter-w">W</button>
            <a href="#letter-x">X</button>
            <a href="#letter-y">Y</button>
            <a href="#letter-z">Z</button>
          </div>
        </div>

        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}

        {{ exposed }}
        {{ attachment_before }}

        {% if rows -%}
          <div class="bTerms__itsWr">
            <div class="bTerms__its">
              {{ rows }}
            </div>

            <div class="bTerms__moreWr">
              <button type="button" class="bTerms__more" aria-label="Toggle show more terms">
                <span class="bTerms__moreOpen">{{ "show more"|t }}</span>
                <span class="bTerms__moreClose">{{ "show less"|t }}</span>
              </button>
            </div>
          </div>
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
        {{ pager }}

        {{ attachment_after }}
        {{ more }}

        {% if footer %}
          <footer>
            {{ footer }}
          </footer>
        {% endif %}

        {{ feed_icons }}
      </div>
    </div>
  </section>

</div>
