{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<section class="section section_ind_c section_bg-color_b">

    <div class="section__sNav">
      <div class="bContainer">
        {{ socials }}
      </div>
    </div>

    <div class="bContainer">
        <a href="/senators" class="btn btn_a section__btnBack section__btnBack_a">
            back to senators
        </button>

        <div class="bWrap bWrap_size_a">

            <div class="bSenBio">
                <div class="bSenBio__row">
                    <div class="bSenBio__col">
                        {{ content.field_senator_photo }}
                    </div>

                    <div class="bSenBio__col">

                        <div class="bSenBio__header">

                            <div class="bSenBio__title">
                                <h1>{{ position }} {{ label }}</h1>
                            </div>
                            <div class="bSenBio__dis">
                                {{ content.field_senator_district_taxonomy[0]['#title'] }}
                            </div>
                            {% if content.field_senator_ext_link|render|trim is not empty %}
                              <div class="bSenBio__btnWr">
                                {{ content.field_senator_ext_link }}
                              </div>
                            {% endif %}
                        </div>
                        {{ content.field_senator_social_links_par }}
                        <div class="bSenBio__info">
                            {{ content.field_party }}
                            {{ content.field_senator_education_txt }}
                            {{ content.field_senator_leg_experience_txt }}
                            {{ content.field_senator_hometown_txt }}
                            {{ content.field_senator_occupation_txt }}
                        </div>
                    </div>
                </div>

                <div class="bSenBio__row">

                    <div class="bSenBio__col">
                        <div class="bSenBio__media-btn-wrap">
                            <a href="{{ senator_photo_download }}" class="bSenBio__media-btn" download="{{ senator_photo_download_target }}">
                    <span class="bSenBio__media-btn-ico">
                        <img alt="" src="{{ theme_path }}/dist/images/ico/download-ico.png" srcset="{{ theme_path }}/dist/images/ico/download-ico-2x.png 2x">
                    </span>
                                Download Senator Photo
                            </button>

                            <a href="/senator-press-releases/{{ title_alias }}" class="bSenBio__mediaBtn">
                                {{ "Press Releases & Media"|t }}
                            </button>
                        </div>

                    </div>
                    <div class="bSenBio__col">
                        <div class="bSenBio__con">
                            {{ content.field_senator_address_txt }}
                            <div class="bSenBio__telMail">
                                {{ content.field_senator_telephone }}
                                <div class="bSenBio__mail">
                                        <i class="ss-icon ss-glyphish-filled ss-mail"></i>
                                        <a href="/contact-senator?sid={{ nid }}" target="_blank">Email Senator</button>
                                </div>
                            </div>
                            {{ content.field_senator_assistent_text	 }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section_ind_d section_bg-color_c">

    <div class="bContainer">
        {{ news_block }}
        {% if content.body|render is not empty or video_url %}
            <div class="bAbout bWrap bWrap_size_a">
                <h2>About the Senator</h2>
                {% if video_url %}
                    <div class="bMedia bAbout__bMedia">
                        <a href="{{ '#' ~ video_id }}" class="bMedia__play-btn bMedia-tile__play-btn">
                            {{ preview_image }}
                            <span class="bMedia__previewText">play video</span>
                        </button>
                        <div class="bMedia__wrap">
                            <iframe title="Embedded video" id="{{ video_id }}" width="560" height="315" src="{{ video_url }}" frameborder="0"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endif %}

                {% if content.body|render is not empty %}
                    <div class="bAbout__desc">
                        <div class="bHide">
                            <div class="bHide__cont">
                                {{ content.body }}
                            </div>
                            <div class="bHide__moreWr">
                                <button type="button" class="bHide__more" data-ev="toggleClass:bHide:open" aria-label="Toggle show more content">
                                    <span class="bHide__moreOpen">show more</span>
                                    <span class="bHide__moreClose">show less</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if content.field_senator_committee_taxonomy|render is not empty or term_url %}
            <div class="bMembership bWrap bWrap_size_a">
                <h2>Committee Membership</h2>
                {{ content.field_senator_committee_taxonomy }}
                {{ term_url }}
            </div>
        {% endif %}
        <div class="bDistrict bWrap bWrap_size_a">
            <h2>{{ content.field_senator_district_taxonomy }}{{ file }}</h2>
            <div class="bDistrict__table">
                <div class="bDistrict__tr">
                    <div class="bDistrict__th">
                        counties represented
                    </div>
                    <div class="bDistrict__th">
                        zip codes represented
                    </div>
                </div>

                <div class="bDistrict__tr">
                    <div class="bDistrict__td">
                        {{ content.field_senator_county_taxonomy }}
                    </div>
                    <div class="bDistrict__td">
                        {{ content.field_senator_index_zip_taxonomy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

