{#
/**
 * @file
 * News Social Sharethis.
 *
 */
#}
<div class="bSoc bSoc_min">
  <div class="bSoc__items">
    <div class="bSoc__item">
      <span st_url="{{ url }}" st_title="{{ title }}" class="st_facebook_custom">
        <img src="{{ current_path }}/dist/images/soc/soc-facebook.png"
             srcset="{{ current_path }}/dist/images/soc/soc-facebook-2x.png 2x"
             alt="">
      </span>
    </div>
    <div class="bSoc__item">
      <span st_url="{{ url }}" st_title="{{ title }}" class="st_twitter_custom" st_via="{{ "oksenate"|t }}">
        <img src="{{ current_path }}/dist/images/soc/x-twitter.svg"
             alt="">
      </span>
    </div>
    <div class="bSoc__item">
      <span st_url="{{ url }}" st_title="{{ title }}" class="st_email_custom">
        <img src="{{ current_path }}/dist/images/soc/soc-mail.png"
             srcset="{{ current_path }}/dist/images/soc/soc-mail-2x.png 2x"
             alt="">
      </span>
    </div>
  </div>
</div>
