{#
/**
 * @file
 * Newsletter Sign Up form.
 *
 */
#}
<div class="modal fade modal_newsletter" id="newsletter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal__dialog modal__dialog_v-centered">
    <div class="modal__content">
      <span class="modal__close" data-dismiss="modal" aria-label="Close subscription dialog">&times;</span>
      <div class="modal__body">

        <div class="form">
          <div class="pageIn__ico" aria-hidden="true" >
            <img alt="" src="{{ current_path }}/dist/images/titleIco/title-ico-11.png"
                 srcset="{{ current_path }}/dist/images/titleIco/title-ico-11-2x.png 2x" 
                 aria-hidden="true">
          </div>

          <h2>{{ "Sign up for our Newsletter"|t }}</h2>

          <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/OKSENATE/subscribers/qualify" accept-charset="UTF-8" method="post" target="_blank" class="senate-custom-captcha">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input type="hidden" name="authenticity_token" value="m4ks0k1RmE8MHN8GcgS512HfRuaaqNpgXXMyc+pajnroui5iyKXl4fEhEahfGUtTIjhenlW3ux57LtcvSKj+dg==" />
            <fieldset>
              <legend>
                {{ "Email Updates"|t }}
              </legend>
              <div>
                {{ "To sign up for updates or to access your subscriber preferences, please enter your contact information below."|t }}
              </div>
              <ol class='form'>
                <li>
                  <label for="subscription_type">{{ "Subscription Type"|t }}</label>
                  <div class='input_group'>
                    <select name="subscription_type" id="subscription_type">
                      <option selected="selected" value="email">{{ "Email"|t }}</option>
                      <option value="phone">{{ "SMS/Text Message"|t }}</option>
                    </select>
                  </div>
                </li>
                <li class='wireless_fields' style='display: none'>
                  <label for="phone">
                    <img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required" />{{ "Wireless Number"|t }}
                  </label>
                  <div class='input_group'>
                    <select name="country_code_display" id="country_code_display" disabled="disabled" aria-label="{{ "Country code"|t }}">
                      <option value="1 (US)">1 (US)</option>
                      <option value="1">1</option>
                    </select>
                    <input type="hidden" name="country_code" id="country_code" value="1" title="{{ "Country code"|t }}" />
                    <input type="text" name="phone" id="phone" class="medium" title="{{ "Wireless Number"|t }}" />
                  </div>
                </li>
                <li class='email_fields' style='display: block'>
                  <label for="email">
                    <img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required" />{{ "Email Address"|t }}
                  </label>
                  <input type="text" name="email" id="email" class="long" />
                </li>
              </ol>
              <label for="senateCustomCaptchaTextBox" style="text-align: center">
                <img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required">
                {{ "Enter the characters shown in the image."|t }}
              </label>
              <div id="senateCustomCaptchaWrapper">
                <div id="senateCustomCaptcha">
                </div>
                <input type="text" placeholder="Captcha" id="senateCustomCaptchaTextBox"/>
              </div>

              <div class='button_panel'>
                <input type="submit" name="commit" value="Submit" class="sr-button reverse" />
              </div>
            </fieldset>
          </form>

          <div class="form-required-note">
            <span>
              <img class="required" src="https://content.govdelivery.com/images/required.gif" alt="{{ "Required"|t }}">
            </span> {{ "Required"|t }}
          </div>
        </div>

        <script type='text/javascript'>
          //<![CDATA[
          function checkJQuery() {
            if(!window.jQuery) {
              window.setTimeout(checkJQuery, 1000);
            } else {
              selectChange();
            }
          }

          function selectChange() {
            (function ($) {
              $(document).ready(function () {

                var GOVDSNIPPET = function() {
                  var form  = document.getElementById('GD-snippet-form');
                  var typeSelect = form.getElementsByTagName('select')[0];
                  var getStyleType = function(type) {
                    return typeSelect.value === type ? 'block' : 'none';
                  };
                  var toggleType = function() {
                    form.getElementsByTagName('li')[2].style.display = getStyleType('email');
                    form.getElementsByTagName('li')[1].style.display = getStyleType('phone');
                  };
                  if (typeSelect.addEventListener) {
                    typeSelect.addEventListener('change', toggleType);
                  } else if (typeSelect.attachEvent)  {
                    typeSelect.attachEvent('onchange', toggleType);
                  }
                  $(typeSelect).on('select2:select', toggleType);
                }();

              });
            }(jQuery));
          }
          checkJQuery();
          //]]>
        </script>

      </div>
    </div>
  </div>
</div>
