{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
    {#
      This ensures that, if clean URLs are off, the 'q' is added first,
      as a hidden form element, so that it shows up first in the POST URL.
    #}
    {{ q }}
{% endif %}
<div class="sSen__fil">
    <div class="sSen__filCol">
        <div class="sSen__filIco">
            <img src="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-1.png" srcset="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-1-2x.png 2x"  alt="">
        </div>
        <div class="sSen__opt form f-search f-search_min">
        {{ form.zip }}
    </div>
    </div>
    <div class="sSen__filCol">
        <div class="sSen__filIco">
            <img src="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-2.png" srcset="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-2-2x.png 2x"  alt="">
        </div>
        {{ form.county }}
    </div>
    <div class="sSen__filCol">
        <div class="sSen__filIco">
            <img src="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-3.png" srcset="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-3-2x.png 2x"  alt="">
        </div>
        {{ form.district }}
        <div class="sSen__filLink">
            <a href="{{ theme_path }}/dist/oklahoma_co.pdf" target="_blank">see district map</a>
        </div>
    </div>
    <div class="sSen__filCol">
        <div class="sSen__filIco">
            <img src="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-4.png" srcset="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-4-2x.png 2x"  alt="">
        </div>
        {{ form.committee }}
    </div>
    <div class="sSen__filCol">
        <div class="sSen__filIco">
            <img src="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-5.png" srcset="{{ theme_path }}/dist/images/filterIco/senator-filter-icons-5-2x.png 2x"  alt="">
        </div>
        {{ form.party }}
    </div>

</div>
