{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
    <section class="section sSen">

        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

        {% if header %}
            <header>
                {{ header }}
            </header>
        {% endif %}
        <div class="sSen__head">
            {{ exposed }}

            <div class="sSen__byAdd">
                <a href="#" class="sSen__btnByAdd">search by address</a>
            </div>
            <div class="sSen__fil">

                <div class="sSen__filCol">

                    <div class="sSen__filIco">
                        <img src="../dist/images/filterIco/senator-filter-icons-2.png"
                             srcset="../dist/images/filterIco/senator-filter-icons-2-2x.png 2x" alt="">
                    </div>
                    <div class="sSen__filTitle">
                        search by county
                    </div>
                    <div class="sSen__opt">

                        <div class="form-item form-type-select">
                            <select class="form-select">
                                <option>Select County</option>
                                <option>Adair</option>
                                <option>Alfalfa</option>
                                <option>Atoka</option>
                                <option>Beaver</option>
                                <option>Beckham</option>
                                <option>Blaine</option>
                                <option>Bryan</option>
                                <option>Caddo</option>
                                <option>Canadian</option>
                                <option>Carter</option>
                                <option>Cherokee</option>
                                <option>Choctaw</option>
                                <option>Cimarron</option>
                                <option>Cleveland</option>
                                <option>Coal</option>
                                <option>Comanche</option>
                                <option>Cotton</option>
                                <option>Craig</option>
                                <option>Creek</option>
                                <option>Custer</option>
                                <option>Delaware</option>
                                <option>Dewey</option>
                                <option>Ellis</option>
                                <option>Garfield</option>
                                <option>Garvin</option>
                                <option>Grady</option>
                                <option>Grant</option>
                                <option>Greer</option>
                                <option>Harmon</option>
                                <option>Harper</option>
                                <option>Haskell</option>
                                <option>Hughes</option>
                                <option>Jackson</option>
                                <option>Jefferson</option>
                                <option>Johnston</option>
                                <option>Kay</option>
                                <option>Kingfisher</option>
                                <option>Kiowa</option>
                                <option>Latimer</option>
                                <option>Le Flore</option>
                                <option>Lincoln</option>
                                <option>Logan</option>
                                <option>Love</option>
                                <option>McClain</option>
                                <option>McCurtain</option>
                                <option>McIntosh</option>
                                <option>Major</option>
                                <option>Marshall</option>
                                <option>Mayes</option>
                                <option>Murray</option>
                                <option>Muskogee</option>
                                <option>Noble</option>
                                <option>Nowata</option>
                                <option>Okfuskee</option>
                                <option>Oklahoma</option>
                                <option>Okmulgee</option>
                                <option>Osage</option>
                                <option>Ottawa</option>
                                <option>Pawnee</option>
                                <option>Payne</option>
                                <option>Pittsburg</option>
                                <option>Pontotoc</option>
                                <option>Pottawatomie</option>
                                <option>Pushmataha</option>
                                <option>Roger Mills</option>
                                <option>Rogers</option>
                                <option>Seminole</option>
                                <option>Sequoyah</option>
                                <option>Stephens</option>
                                <option>Texas</option>
                                <option>Tillman</option>
                                <option>Tulsa</option>
                                <option>Wagoner</option>
                                <option>Washington</option>
                                <option>Washita</option>
                                <option>Woods</option>
                                <option>Woodward</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="sSen__filCol">

                    <div class="sSen__filIco">
                        <img src="../dist/images/filterIco/senator-filter-icons-3.png"
                             srcset="../dist/images/filterIco/senator-filter-icons-3-2x.png 2x" alt="">
                    </div>
                    <div class="sSen__filTitle">
                        search by district
                    </div>
                    <div class="sSen__opt">

                        <div class="form-item form-type-select">
                            <select class="form-select">
                                <option>Select District</option>
                                <option>District 1</option>
                                <option>District 2</option>
                                <option>District 3</option>
                                <option>District 4</option>
                                <option>District 5</option>
                                <option>District 6</option>
                                <option>District 7</option>
                                <option>District 8</option>
                                <option>District 9</option>
                                <option>District 10</option>
                                <option>District 11</option>
                                <option>District 12</option>
                                <option>District 13</option>
                                <option>District 14</option>
                                <option>District 15</option>
                                <option>District 16</option>
                                <option>District 17</option>
                                <option>District 18</option>
                                <option>District 19</option>
                                <option>District 20</option>
                                <option>District 21</option>
                                <option>District 22</option>
                                <option>District 23</option>
                                <option>District 24</option>
                                <option>District 25</option>
                                <option>District 26</option>
                                <option>District 27</option>
                                <option>District 28</option>
                                <option>District 29</option>
                                <option>District 30</option>
                                <option>District 31</option>
                                <option>District 32</option>
                                <option>District 33</option>
                                <option>District 34</option>
                                <option>District 35</option>
                                <option>District 36</option>
                                <option>District 37</option>
                                <option>District 38</option>
                                <option>District 39</option>
                                <option>District 40</option>
                                <option>District 41</option>
                                <option>District 42</option>
                                <option>District 43</option>
                                <option>District 44</option>
                                <option>District 45</option>
                                <option>District 46</option>
                                <option>District 47</option>
                                <option>District 48</option>

                            </select>
                        </div>

                    </div>

                    <div class="sSen__filLink">
                        <a href="#">see district map</a>
                    </div>
                </div>
                <div class="sSen__filCol">

                    <div class="sSen__filIco">
                        <img src="../dist/images/filterIco/senator-filter-icons-4.png"
                             srcset="../dist/images/filterIco/senator-filter-icons-4-2x.png 2x" alt="">
                    </div>
                    <div class="sSen__filTitle">
                        search by committee
                    </div>
                    <div class="sSen__opt">

                        <div class="form-item form-type-select">
                            <select class="form-select">
                                <option>Select Committee</option>
                                <option>Appropriations</option>
                                <option>Agriculture and Wildlife</option>
                                <option>Business, Commerce and Tourism</option>
                                <option>Education</option>
                                <option>Energy</option>
                                <option>Finance</option>
                                <option>General Government</option>
                                <option>Health and Human Services</option>
                                <option>Judiciary</option>
                                <option>Public Safety</option>
                                <option>Retirement and Insurance</option>
                                <option>Rules</option>
                                <option>Transportation</option>
                                <option>Veterans and Military Affairs</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="sSen__filCol">

                    <div class="sSen__filIco">
                        <img src="../dist/images/filterIco/senator-filter-icons-5.png"
                             srcset="../dist/images/filterIco/senator-filter-icons-5-2x.png 2x" alt="">
                    </div>
                    <div class="sSen__filTitle">
                        search by party
                    </div>
                    <div class="sSen__opt">

                        <div class="form-item form-type-select">
                            <select class="form-select">
                                <option>Select Party</option>
                                <option>Democratic</option>
                                <option>Republican</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{ attachment_before }}
        <div class="sSen__res">
            <div class="bContainer">
                {% if rows -%}
                    {{ rows }}
                {% elseif empty -%}
                    {{ empty }}
                {% endif %}
                {{ pager }}
            </div>
        </div>
        {{ attachment_after }}
        {{ more }}

        {% if footer %}
            <footer>
                {{ footer }}
            </footer>
        {% endif %}

        {{ feed_icons }}
    </section>
</div>
